{
    "useTabs": false,
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 150,
    "bracketSameLine": false,
    "htmlWhitespaceSensitivity": "ignore",
    "plugins": ["prettier-plugin-tailwindcss", "@prettier/plugin-php", "@shufo/prettier-plugin-blade"],
    "overrides": [
        {
            "files": ["*.blade.php"],
            "options": {
                "parser": "blade"
            }
        }
    ]
}
